/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
   /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

.content_div {
    display: none;
}
.content_div:first-child {
    display: block;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#numUsersContainer {
    display:none;
}

#locationToggleContainer .ui-checkbox {
clear:none;
}

#locationToggleContainer label {
padding:0px 10px 0px 0px;
position:relative;
top:-22px;
}


.ui-checkbox #locationToggle {
    width:30px;
    height:30px;
    margin-top:1px;
    top:5;
    left:0;
    float:left;
    position:relative;
}

#logo{
	max-height:150px;
}
#logos p{
		margin:0;
		font-size:0.8em;
	    text-transform:none;
		text-align:left;
	
}
#logos img{
	max-width:70%;
	margin-top: 5% ;
}

#legal p{
		font-size:0.7em;
	    text-transform:none;
		text-align:left;
}

#legal h1{
		font-size:0.8em;
	    text-transform:none;
		text-align:left;
		margin-top:8px;
}

#app #statusPage, #app #privacyPage, #settingsPage {
text-align:center;
}

#app, .ui-page {
background:#fff !important;
}

#app {
font-size:20px;
}

#userPasscodeContainer, #numUsersContainer {
margin-bottom:30px;
}

#locationToggleContainer {
margin-bottom:25px;
}

#settingsPage #enterPasswordInstruction { 
display:none;
}

.success{
	background-color:#99FF99;
}
.fail{
	background-color:#FF9999;
}


/* App Icons */
#navbar .ui-icon {
width: 30px!important;
height: 30px!important;
margin-left: -15px !important;
box-shadow: none!important;
-moz-box-shadow: none!important;
-webkit-box-shadow: none!important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
background-size: 30px 30px;
}

#navbar .ui-icon-nb-status {
background: url("../img/icon/status.png") 50% 50% no-repeat;
}

#navbar .ui-icon-nb-settings {
background: url("../img/icon/settings.png") 50% 50% no-repeat;
}

#navbar .ui-icon-nb-privacy {
background: url("../img/icon/privacy.png") 50% 50% no-repeat;
}

#navbar .ui-btn-inner {
padding-top:35px;
font-size:10px;
padding-bottom:.2em;
text-transform:capitalize;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #navbar .ui-icon-nb-status {
    background: url("../img/iconL/status.png") 50% 50% no-repeat;
    }

    #navbar .ui-icon-nb-settings {
    background: url("../img/iconL/settings.png") 50% 50% no-repeat;
    }

    #navbar .ui-icon-nb-privacy {
    background: url("../img/iconL/privacy.png") 50% 50% no-repeat;
    }

    #navbar .ui-icon-nb-status, #navbar .ui-icon-nb-settings, #navbar .ui-icon-nb-privacy {
		background-size: 30px 30px;
    }
}

@media only screen and (min-width: 700px) {
    #app {
        font-size:35px;
    }
    
    #navbar .ui-icon-nb-status {
    background: url("../img/iconL/status.png") 50% 50% no-repeat;
    }

    #navbar .ui-icon-nb-settings {
    background: url("../img/iconL/settings.png") 50% 50% no-repeat;
    }

    #navbar .ui-icon-nb-privacy {
    background: url("../img/iconL/privacy.png") 50% 50% no-repeat;
    }

    #navbar .ui-icon-nb-status, #navbar .ui-icon-nb-settings, #navbar .ui-icon-nb-privacy {
		background-size: 60px 60px;
    }
    
    #navbar .ui-btn {
        height:100px;
    }
    
    #navbar .ui-icon {
        width:60px !important;
        height:60px !important;
        margin-left:-30px !important;
    }
    
    #navbar .ui-btn-inner {
        font-size:18px !important;
        padding-top:70px !important;
    }
    
    #locationToggleContainer .ui-slider {
        width:120px;
    }
}

